@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
}

@layer base {
  html {
    font-family: var(--font-poppins);
  }
}

@utility scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
